.idea/
node_modules/
package-lock.json

assets/dist/css/custom-app.css.map
assets/dist/js/custom-app.js.map

assets/vendor/inputmask/css/
assets/vendor/inputmask/dist/inputmask/
assets/vendor/inputmask/dist/min/inputmask/
assets/vendor/inputmask/CHANGELOG.md
assets/vendor/inputmask/index.js
assets/vendor/inputmask/LICENSE.txt
assets/vendor/inputmask/package.json
assets/vendor/inputmask/README.md

assets/vendor/dropzone/dist/basic.css
assets/vendor/dropzone/dist/dropzone.css
assets/vendor/dropzone/dist/dropzone-amd-module.js
assets/vendor/dropzone/dist/min/
assets/vendor/dropzone/dist/readme.md
assets/vendor/dropzone/bower.json
assets/vendor/dropzone/CHANGELOG.md
assets/vendor/dropzone/component.json
assets/vendor/dropzone/composer.json
assets/vendor/dropzone/CONTRIBUTING.md
assets/vendor/dropzone/index.js
assets/vendor/dropzone/package.json
assets/vendor/dropzone/README.md

assets/vendor/bootstrap-datepicker/build/
assets/vendor/bootstrap-datepicker/js/
assets/vendor/bootstrap-datepicker/less/
assets/vendor/bootstrap-datepicker/CHANGELOG.md
assets/vendor/bootstrap-datepicker/package.json
assets/vendor/bootstrap-datepicker/README.md

assets/vendor/moment/dist/
assets/vendor/moment/locale/
assets/vendor/moment/src/
assets/vendor/moment/ts3.1-typings/
assets/vendor/moment/CHANGELOG.md
assets/vendor/moment/ender.js
assets/vendor/moment/LICENSE
assets/vendor/moment/moment.d.ts
assets/vendor/moment/moment.js
assets/vendor/moment/package.js
assets/vendor/moment/package.json
assets/vendor/moment/README.md